body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

#myForm{
  text-align: center;
}

#confirmed{
  text-align: center;
}
#recovered{
  text-align: center;
}
#death{
  text-align: center;
}